:root {
    --cor-primaria: white;
    --cor-secundaria: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f77307;
}

main {
    flex: 1 0 auto;
    margin-top: 5%;
}

@media (max-width: 2000px) {
    main {
        margin-top: 180px;
    }

    .navegation {
        height: 150px;
    }

    .div-botao-voltar {
        margin-top: 45px;
    }

    .icone-header {
        width: 100px;
        height: 100px;
    }

    .div-icon-header {
        margin-top: 10px;
    }
}

@media (max-width: 884px) {
    main {
        margin-top: 300px;
    }

    .navegation {
        height: 150px;
    }

    .div-botao-voltar {
        margin-top: 40px;
    }
}

@media (max-width: 430px) {

    main {
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .navbar-fixed {
        position: fixed;
        /* Ou relative, se preferir */
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        /* Ajuste o valor se necessário */
    }

    .main-container {
        margin-top: 180px;
        /* Ajuste o valor para garantir que o conteúdo não fique escondido */
    }

    .div-botao-voltar {
        margin-top: 15px;
    }

    .div-icon-header {
        display: none;
    }

    .btn-voltar {
        height: max-content;
    }

}


/*Ajuste da altura barra rodapé*/
.text-information {
    font-size: medium;
    padding-bottom: 5px;
}

.custom-icon {
    color: var(--cor-primaria);
}

.btn-at-home {
    width: 200px;
    background-color: var(--cor-primaria) !important;
    transition: background-color 0.1s, color 0.1s;
}

.btn-new-client,
.btn-voltar, .btn-imp-balanco {
    font-size: 16px;
    width: 200px;
    background-color: #ef6c00;
    transition: background-color 0.1s, color 0.1s;
    font-weight: bold;
}

.btn-action-card, .btn-cad {
    background-color: #ef6c00;
    transition: background-color 0.1s, color 0.1s;
    font-weight: bold;
}

.btn-new-client:hover,
.btn-voltar:hover,
.btn-action-card:hover,
.btn-imp-balanco:hover,
.btn-cad:hover {
    background-color: #0301fa;
    color: #ef6c00;
    transition: background-color 0.1s, color 0.1s;
}


/* Customizando o botão */
#btns-home:hover {
    --cor-primaria: #0301fa;
    transition: background-color 0.1s, color 0.1s;
}


.table-icons {
    background-color: var(--cor-primaria) !important;
    transition: background-color 0.1s, color 0.1s;
    box-shadow: none;
}

.client-icon {
    color: var(--cor-secundaria);

}

.table-icons:hover {
    --cor-primaria: #0301fa;
    --cor-secundaria: white;
    transition: background-color 0.1s, color 0.1s;
}



.card-content img {
    height: 200px; /* A imagem preenche a altura do contêiner */
    object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorcer */
}

.input-pequisar {
    background-color: #ef6c00;
}